
.listItem{
  margin: 1rem;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.activated{
  color: green;
}

.notActivated{
  color: #000;
}